body #wall * {
    display: none;
}

#wall #tag-3.slick.wicked { 
  display: none;
}

body #wall #tag-2 { 
  display: none;
}

/* bit lost as to why it's asking for additional bytes of text to finish this lab... aren't programmers lazy? blah blahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblahblah